# Data Preprocessing

In [2]:
import pandas as pd
import numpy as np

In [13]:
df=pd.read_csv('data.csv')

In [21]:
df

   country   age   salary purchased
0  France   44.0  73000.0        No
1    Spain  27.0  62000.0       Yes
2  Germany  30.0  44000.0        No
3    Spain  45.0  50000.0       Yes
4  France   38.0      NaN        No
5  Germany   NaN  68000.0        No
6    Spain  34.0  76000.0       Yes
7  France   28.0  25000.0        No
8  Germany  41.0  34000.0       Yes

In [15]:
x=df[['country','age','salary']].values

In [16]:
x

array([['France ', 44.0, 73000.0],
       ['Spain', 27.0, 62000.0],
       ['Germany', 30.0, 44000.0],
       ['Spain', 45.0, 50000.0],
       ['France ', 38.0, nan],
       ['Germany', nan, 68000.0],
       ['Spain', 34.0, 76000.0],
       ['France ', 28.0, 25000.0],
       ['Germany', 41.0, 34000.0]], dtype=object)

In [46]:
y=df['purchased'].values

In [47]:
y

array(['No', 'Yes', 'No', 'Yes', 'No', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

### finding missing values

In [22]:
from sklearn.impute import SimpleImputer

In [25]:
imputer=SimpleImputer(missing_values=np.nan,strategy='mean')

In [26]:
imputer=imputer.fit(x[:,1:3])

In [27]:
x[:,1:3]=imputer.transform(x[:,1:3])

In [28]:
x

array([['France ', 44.0, 73000.0],
       ['Spain', 27.0, 62000.0],
       ['Germany', 30.0, 44000.0],
       ['Spain', 45.0, 50000.0],
       ['France ', 38.0, 54000.0],
       ['Germany', 35.875, 68000.0],
       ['Spain', 34.0, 76000.0],
       ['France ', 28.0, 25000.0],
       ['Germany', 41.0, 34000.0]], dtype=object)

### encoding categorical data

In [30]:
from sklearn.preprocessing import LabelEncoder

In [31]:
label_encoder_x=LabelEncoder()

In [33]:
x[:,0]=label_encoder_x.fit_transform(x[:,0])

In [34]:
x

array([[0, 44.0, 73000.0],
       [2, 27.0, 62000.0],
       [1, 30.0, 44000.0],
       [2, 45.0, 50000.0],
       [0, 38.0, 54000.0],
       [1, 35.875, 68000.0],
       [2, 34.0, 76000.0],
       [0, 28.0, 25000.0],
       [1, 41.0, 34000.0]], dtype=object)

In [36]:
from sklearn.preprocessing import OneHotEncoder

In [37]:
one_hot=OneHotEncoder()

In [51]:
x=one_hot.fit_transform(df.country.values.reshape(-1,1)).toarray()

In [52]:
x

array([[1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.]])

In [44]:
labelencoder_y=LabelEncoder()

In [48]:
y=labelencoder_y.fit_transform(y)

In [49]:
y

array([0, 1, 0, 1, 0, 0, 1, 0, 1])

### splitting data into train and test

In [53]:
from sklearn.model_selection import train_test_split

In [58]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [59]:
x_train

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.]])

In [60]:
x_test

array([[1., 0., 0.],
       [0., 1., 0.]])

In [61]:
y_train

array([1, 0, 1, 1, 1, 0, 0])

In [62]:
y_test

array([0, 0])