In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('customer_churn_data.csv')

In [3]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,CUST0000,Male,0,No,Yes,23,No,No phone service,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Month-to-month,Yes,Bank transfer,49.85,1146.55,No
1,CUST0001,Female,0,Yes,No,43,No,No phone service,DSL,Yes,...,Yes,No,Yes,No,Month-to-month,No,Mailed check,100.70,4330.10,Yes
2,CUST0002,Male,1,No,No,51,Yes,No,DSL,No,...,Yes,Yes,No,No,One year,No,Electronic check,97.33,4963.83,Yes
3,CUST0003,Male,1,No,No,72,Yes,Yes,DSL,Yes,...,Yes,No,No,No,Month-to-month,No,Credit card,101.38,7299.36,No
4,CUST0004,Male,1,No,No,25,Yes,Yes,DSL,No,...,No,Yes,No,Yes,Month-to-month,No,Electronic check,52.22,1305.50,Yes

In [5]:
df.drop('customerID' ,axis=1,inplace=True)

In [6]:
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Male,0,No,Yes,23,No,No phone service,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,Yes,Bank transfer,49.85,1146.55,No
1,Female,0,Yes,No,43,No,No phone service,DSL,Yes,No,Yes,No,Yes,No,Month-to-month,No,Mailed check,100.70,4330.10,Yes
2,Male,1,No,No,51,Yes,No,DSL,No,Yes,Yes,Yes,No,No,One year,No,Electronic check,97.33,4963.83,Yes
3,Male,1,No,No,72,Yes,Yes,DSL,Yes,No,Yes,No,No,No,Month-to-month,No,Credit card,101.38,7299.36,No
4,Male,1,No,No,25,Yes,Yes,DSL,No,No,No,Yes,No,Yes,Month-to-month,No,Electronic check,52.22,1305.50,Yes

In [13]:
df.Contract.unique()

array(['Month-to-month', 'One year', 'Two year'], dtype=object)

In [15]:
for col in df.columns:
    print(f"columns name: {col}")
    print(df[col].unique())

columns name: gender
['Male' 'Female']
columns name: SeniorCitizen
[0 1]
columns name: Partner
['No' 'Yes']
columns name: Dependents
['Yes' 'No']
columns name: tenure
[23 43 51 72 25 35 17 18 27 15 69 42 34 48  8 10  5 26 62 13  9 20 57 24
 33 60 64 30 14 19 71 59 67 44 32 11  2 68 40 46  4 38 63 29 70 52 55 66
 31 61 36 37 47 22 39 58  7 65  6 45  1 56 21 16 49 41  3 12 53 28 50 54]
columns name: PhoneService
['No' 'Yes']
columns name: MultipleLines
['No phone service' 'No' 'Yes']
columns name: InternetService
['No' 'DSL' 'Fiber optic']
columns name: OnlineSecurity
['No internet service' 'Yes' 'No']
columns name: OnlineBackup
['No internet service' 'No' 'Yes']
columns name: DeviceProtection
['No internet service' 'Yes' 'No']
columns name: TechSupport
['No internet service' 'No' 'Yes']
columns name: StreamingTV
['No internet service' 'Yes' 'No']
columns name: StreamingMovies
['No internet service' 'No' 'Yes']
columns name: Contract
['Month-to-month' 'One year' 'Two year']
columns name: PaperlessBilling
['Yes' 'No']
columns name: PaymentMethod
['Bank transfer' 'Mailed check' 'Electronic check' 'Credit card']
columns name: MonthlyCharges
[ 49.85 100.7   97.33 ...  34.06  74.21  65.43]
columns name: TotalCharges
[1146.55 4330.1  4963.83 ... 4065.04 1286.32  585.35]
columns name: Churn
['No' 'Yes']

In [16]:
def preprocess_data(df):
    """
    Cleans and encodes the DataFrame:
    - Replaces 'No internet service' and 'No phone service' with 'No'
    - Converts 'Yes'/'No' to 1/0
    - Converts 'Male'/'Female' in 'gender' column to 1/0
    
    Parameters:
        df (pd.DataFrame): The input DataFrame
        
    Returns:
        pd.DataFrame: The processed DataFrame
    """
    
    # Step 1: Replace service-related 'No internet service' and 'No phone service' with 'No'
    service_cols = [
        'MultipleLines', 'OnlineSecurity', 'OnlineBackup', 
        'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies'
    ]
    for col in service_cols:
        df[col] = df[col].replace({'No internet service': 'No', 'No phone service': 'No'})
    
    # Step 2: Convert 'Yes'/'No' to 1/0 in applicable columns
    yes_no_cols = [col for col in df.columns if df[col].isin(['Yes', 'No']).all()]
    for col in yes_no_cols:
        df[col] = df[col].map({'Yes': 1, 'No': 0})
    
    # Step 3: Convert 'gender' to binary (Male: 1, Female: 0)
    if 'gender' in df.columns:
        df['gender'] = df['gender'].map({'Male': 1, 'Female': 0})
    
    return df

In [17]:
df=preprocess_data(df)

In [18]:
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,1,0,0,1,23,0,0,No,0,0,0,0,0,0,Month-to-month,1,Bank transfer,49.85,1146.55,0
1,0,0,1,0,43,0,0,DSL,1,0,1,0,1,0,Month-to-month,0,Mailed check,100.70,4330.10,1
2,1,1,0,0,51,1,0,DSL,0,1,1,1,0,0,One year,0,Electronic check,97.33,4963.83,1
3,1,1,0,0,72,1,1,DSL,1,0,1,0,0,0,Month-to-month,0,Credit card,101.38,7299.36,0
4,1,1,0,0,25,1,1,DSL,0,0,0,1,0,1,Month-to-month,0,Electronic check,52.22,1305.50,1

### Now encoding